/* ----Responsive Design----- */

@media screen and (max-width: 425px) {
  /*---------------FONTS-------------*/

  .sm-text-xs {
    font-size: 0.75rem; /* 12px */
    line-height: 1rem; /* 16px */
  }
  /* #desktop {
    display: none;
  } */

  /* ---------Flex------------------ */

  .sm-flex {
    display: flex;
  }
  .sm-justify-between {
    justify-content: space-between;
  }
  .sm-justify-center {
    justify-content: center;
  }
  .sm-justify-end {
    justify-content: flex-end;
  }
  .sm-justify-around {
    justify-content: space-around;
  }
  .sm-justify-items-end {
    justify-items: end;
  }
  .sm-justify-start {
    justify-content: flex-start;
  }
  .sm-justify-around {
    justify-content: space-around;
  }
  .sm-justify-items-center {
    justify-items: center;
  }
  .sm-flex-grow {
    flex-grow: initial;
  }
  .sm-flex-row {
    flex-direction: row;
  }
  .sm-justify-evenly {
    justify-content: space-evenly;
  }
  .sm-flex-col {
    flex-direction: column;
  }

  /* ---------Background-------------- */

  .sm-bg-purple {
    background-color: purple;
  }

  /*---------Height and Width----------*/

  .sm-h-60 {
    height: 15rem;
  }
  .sm-h-20 {
    height: 5rem; /* 64px */
  }
  .sm-h-auto {
    height: 3vh;
  }
  .sm-w-20 {
    width: 15vw;
  }

  .sm-w-full {
    width: 100%;
  }

  .sm-w-20 {
    width: 19rem;
  }
  /* --------------Marging------------ */

  .sm-ml-8 {
    margin-left: 2rem;
  }

  .sm-mr-8 {
    margin-right: 2rem;
  }

  .sm-m-0 {
    margin: 0px;
  }

  .sm-mt-12 {
    margin-top: 3rem;
  }

  .sm-mb-4 {
    margin-bottom: 2rem;
  }

  /* --------------Padding------------- */

  .sm-pt-4 {
    padding-top: 1.5rem;
  }

  .sm-p-0 {
    padding: 0px;
  }
  /* .sm-pb-1 {
    padding-bottom: 0.5rem;
  } */
}
