/* ----Responsive Design----- */

@media screen and (max-width: 1280px) {
  /* ---------Flex------------------ */

  .sm-flex {
    display: flex;
  }
  .sm-justify-between {
    justify-content: space-between;
  }
  .sm-justify-center {
    justify-content: center;
  }
  .sm-justify-end {
    justify-content: flex-end;
  }
  .sm-justify-around {
    justify-content: space-around;
  }
  .sm-justify-items-end {
    justify-items: end;
  }
  .sm-justify-start {
    justify-content: flex-start;
  }

  .sm-justify-around {
    justify-content: space-around;
  }
  .sm-justify-items-center {
    justify-items: center;
  }
  .sm-flex-grow {
    flex-grow:initial;
  }
  .sm-flex-row	{
    flex-direction: row;
  }
  
  /* ---------Background-------------- */

  .sm-bg-red {
    background-color: red;
  }

  /*---------Height and Width----------*/

  .sm-w-10-12 {
    width: 65rem;
  }
  .sm-h-96 {
    height: 30rem;
  }
  .sm-h-20	{
    height: 5rem; /* 64px */
  }
  .sm-h-auto {
    height: auto;
  }
  .sm-w-20 {
    width: 4rem;
  }

  /* --------------Marging------------ */

  .sm-ml-8 {
    margin-left: 2rem;
  }
  .sm-mr-8 {
    margin-right: 2rem;
  }

  /* --------------Padding------------- */
  
  .sm-pb-4 {
    padding-bottom: 4rem;
  }

  /*---------------DISPLAY-------------*/
  
  .sm-inline {
    display: inline;
  }

}
