/* ------------FONTS-------------- */

.text-sm {
  font-size: 1.2rem;
}
.font-family {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text-2xl {
  font-size: 2rem;
}

/* -------------MARGIN--------- */

.m-0 {
  margin: 0;
}
.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}
.m-5 {
  margin: 3rem auto;
}
.m-20 {
  margin: 1rem 5rem 0 5rem;
}
.ml-20 {
  margin-left: 5rem;
}
.mr-20 {
  margin-right: 5rem;
}
.mt-30 {
  margin-top: 30%;
}
.mt-4 {
  margin-top: 1rem;
}
.mt-40 {
  margin-top: 10rem;
}
.mt-16 {
  margin-top: 4rem;
}
.ml-32 {
  margin-left: 8rem;
}
.ml-12 {
  margin-left: 3rem;
}
.ml-26 {
  margin-left: 6.5rem;
}
.ml-18 {
  margin-left: 4.5rem;
}
.ml-42 {
  margin-left: 10rem;
}
.ml-60 {
  margin-left: 15rem;
}
.ml-16 {
  margin-left: 4rem;
}
.ml-100 {
  margin-left: 25rem;
}
.mb-6 {
  margin-bottom: 1.5rem;
}
/* -------------padding----------- */

.p-2 {
  padding: 0.6rem 0 0 2rem;
}

.pr-8 {
  padding-right: 2rem;
}

.pt-1 {
  padding-top: 0.25rem;
}
.pt-40 {
  padding-top: 5rem;
}

/* --------------COLOR-------------- */

.bg-purple {
  height: 60px;
  background-color: purple;
}

.text-white {
  color: white;
}

.text-gray {
  color: rgb(73, 68, 68);
}

/* -----------background------------- */

.bg-gray {
  background-color: rgb(236, 232, 227);
}

/*------------Height AND WIDTH----------------  */

.w-28 {
  width: 110rem;
}

.h-96 {
  height: 24rem;
}
.w-3	{
  width: 0.75rem; 
}
.fa-linkedin-square::before {
  font-size: 2rem;
}
.fa-facebook-square:before {
  font-size: 2rem;
}
.w-96	 {
  width: 32rem; /* 384px */
}
.h-auto {
  height: auto;
}
  /* ---------------FLEX------------- */

.flex {
  display: flex;
}

.justify-content {
  justify-content: flex-end;
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}
.justify-around {
  justify-content: space-around;
}
.justify-items-end {
  justify-items: end;
}
.justify-start {
  justify-content: flex-start;
}
.order-1	{
  order: 1;
}
.order-2	{
  order: 2;
}.order-3	{
  order: 3;
  align-self: flex-end;
}
.order-0{
  order: 0;
  align-self: center;
}
.justify-around	{
  justify-content: space-around;
}

/* ----------------GRID------------ */

.grid-cols-1 {
  display: grid;
  grid-template-columns: 1fr;
}
.grid-cols-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.gap-15 {
  display: grid;
  gap: 60px;
}
.grid-rows-2 {
  display: grid;
  grid-template-rows: 60px 50px;
}
.grid-rows-40px-300px {
  grid-template-rows: 40px 300px;
}
.gap-5 {
  display: grid;
  gap: 20px;
}
.grid-cols-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.grid-cols-3-5px {
  grid-template-columns: 1fr 5px 1fr;
}
/* -----------------TEXT------------------ */

.text-decoration {
  text-decoration: none;
  text-shadow: 0.05em 0.05em 0.05em black;
}

.text-center {
  text-align: center;
}
.inline {
  display: inline;
}

/* ----------------STYLE---------------- */

.list-style {
  list-style-type: none;
}

/* ---------------BORDER-SHADOW---------------- */

.rounded {
  border-radius: 5px 5px 5px 5px;
}

.shadow-md {
  box-shadow: 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.rounded-sm {
  border: 1px solid rgb(163, 163, 163);
  border-radius: 5px 5px 5px 5px;
}
.drop-shadow-md {
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07));
}
.border-right {
  border-right: 3px solid rgb(59, 57, 57);
}
.border-r-2	{
border-right: 10px solid rgb(236, 232, 227);
height: 360px;
}
/* ------------POSITION------------------ */

.relative-position {
  position: relative;
}

.popsition-absolute {
  position: absolute;
}

.inset2-4 {
  top: 50%;
  left: 50%;
}

.contenant {
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
}
.translate-x-y-1-2 {
  transform: translate(-50%, -50%);
}
.overflow-x-hidden {
  overflow-x: hidden;
}
